.control__update-user-and-password label {
  margin-bottom: 0.25rem;
  display: block;
}

.control__update-user-and-password input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.checkbox-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid white;
}

.edit-password-text{
  border: 2px solid green;
}

#enable-edit-password-fields{
  border: 2px solid yellow;
}

/* #update-username{
  height: 0%;
} */

.update-username-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

.update-username-container button{
  font: inherit;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 0.8rem; 
  background-color: #010a5a;
  margin-left: 10px;
}

.update-username-container button:hover{
  background-color: #4f5bff;
}

.update-user-and-password-form{
  width: 88%;
}

.update-password-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

.update-password-container button{
  font: inherit;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 0.8rem; 
  background-color: #010a5a;
  margin-left: 10px;
}

.update-password-container button:hover{
  background-color: #4f5bff;
}

.edit-user-and-pass-actions-container{
  display: flex;
  align-items: flex-end;
  height: 70px;
  /* border: 2px solid red; */
}

.edit-username-and-password-form-container{
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
}
